<div class="container">
    <h3>Add Courses</h3>
    <div >
        <form action="" [formGroup]="addCoursesForm" (ngSubmit)="onAddCourses()">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="">Courses ID</label>
                    <input type="text" class="form-control" formControlName="maKhoaHoc"/>
                </div>
                <div class="mb-3">
                    <label for="">Nick Name</label>
                    <input type="text" class="form-control" formControlName="biDanh"/>
                </div>
                <div class="mb-3">
                    <label for="">Courses Name</label>
                    <input type="text" class="form-control" formControlName="tenKhoaHoc"/>
                </div>
                <div class="mb-3">
                    <label for="">Description</label>
                    <input type="text" class="form-control" formControlName="moTa"/>
                </div>
                <div class="mb-3">
                    <label for="">Views</label>
                    <input type="text" class="form-control" formControlName="luotXem"/>
                </div>
                <div class="mb-3">
                    <label for="">Rate</label>
                    <input type="text" class="form-control" formControlName="danhGia"/>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="">Photo</label>
                    <input type="text" class="form-control" formControlName="hinhAnh"/>
                </div>
                <div class="mb-3">
                    <label for="">Group Courses ID</label>
                    <input type="text" class="form-control" formControlName="maNhom"/>
                </div>
                <div class="mb-3">
                    <label for="">Creating Date</label>
                    <input type="text" class="form-control" formControlName="ngayTao"/>
                </div>
                <div class="mb-3">
                    <label for="">Categories Courses ID</label>
                    <input type="text" class="form-control" formControlName="maDanhMucKhoaHoc"/>
                </div>
                <div class="mb-3">
                    <label for="">Your Acoount</label>
                    <input type="text" class="form-control" formControlName="taiKhoanNguoiTao"/>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" (click)="onAddCourses()">Add Courses</button>
            </div>

        </form>
        

    </div>
</div>
