<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#" [routerLink]="['/home']">Home</a>
      <a class="nav-link" href="#" [routerLink]="['/courses/courses-list']">Courses</a>
      
      </div>
      <div class="d-flex ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a *ngIf="!(isAuthenticated | async)" class="nav-link" href="#" [routerLink]="['/auth/login']">Login</a>
        <!-- <p>Hello {{user.taikhoan}}</p> -->
        <a (click)="onLogout($event)" *ngIf="isAuthenticated | async" class="nav-link" href="#"
      >Logout</a>
    </div>
  </div>
</nav>
