@import "../../../../../assets/sass/helpers/variable";
@import "../../../../../assets/sass/helpers/mixin";
.banner {
    background: linear-gradient(to bottom, $bgBlue, $bgPurple, $bgBlue);
    &__content{
        height:80vh;
        @include flexCenter;
        .row{
            align-items: center;
        }
        &__right{
            height:auto;
            img{
                height:70vh;
            }
        }
    }
}