<section class="category my-5">
    <div class="container">
      <h3 class="mb-5 text-center">Popular Categories</h3>
      <div class="row mb-lg-4">
        <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
          <div class="category__item">
            <div class="category__content">
              <span class="category__icon">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </span>
              <span class="category__name">Business</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
          <div class="category__item">
            <div class="category__content">
              <span class="category__icon">
                <i class="fa fa-desktop" aria-hidden="true"></i>
            </span>
              <span class="category__name">Design</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
          <div class="category__item">
            <div class="category__content">
              <span class="category__icon">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </span>
              <span class="category__name">Development</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-lg-4">
        <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
          <div class="category__item">
            <div class="category__content">
              <span class="category__icon">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </span>
              <span class="category__name">Manage</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
          <div class="category__item">
            <div class="category__content">
              <span class="category__icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </span>
              <span class="category__name">Marketing</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3 mb-lg-0">
          <div class="category__item">
            <div class="category__content">
              <span class="category__icon">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </span>
              <span class="category__name">Creative</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
          <button class="btn-explore" [routerLink]="['/courses/courses-list']">Explore</button>
      </div>
    </div>
  </section>