<div *ngIf="course" class="container">
    <div class="row my-5">
      <div class="col-6">
        <img class="w-100 h-100" [src]="course?.hinhAnh"/>
      </div>
      <div class="col-6">
          <table>
            <thead>
              <tr>
                <th>Tên khoá học</th>
                <th>{{course?.tenKhoaHoc}}</th>
              </tr>
              <tr>
                <th>Mô Tả</th>
                <th>{{course?.moTa}}</th>
              </tr>
              <tr>
                <th><button (click)="onRegisterCourses()">Đăng ký khoá học</button></th>
              </tr>
            </thead>
          </table>
      </div>
    </div>
  </div>
