@import "../../../../assets/sass/helpers/mixin";
@import "../../../../assets/sass/helpers//variable";

.admin{
 background-color: none;
 a{
     margin-top: 20px;
     margin-left: 10px;
     font-size: $iconSize;
 }
}