@import "../../../../../assets/sass/helpers/variable";
@import "../../../../../assets/sass/form/form";
.valid-message{
    position: absolute;
    top: 50%;
    left: -70%;
    background: $bgPink;
    color: $white;
    font-weight: $bold;
}
.errors-message{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 70%;
    right: 0%;
    background: $bgPink;
    color: $white;
    font-weight: $bold;
}