<div class="container">
    <div class="row">
        <div class="col-4">
            <img src ="https://picsum.photos/200/200" />
        </div>
        <div class="col-8">
            <p>Tài Khoản:  {{userProfile?.taiKhoan}} </p>
            <p>Mật Khẩu: {{userProfile?.matKhau}} </p>
            <p>Email:  {{userProfile?.email}} </p>
            <p>Ho Tên:  {{userProfile?.hoTen}} </p>
            <p>SDT:  {{userProfile?.soDT}} </p>
            <p>Mã Nhóm:  {{userProfile?.maNhom}} </p>
            <p>Loại Người Dùng:  {{userProfile?.maLoaiNguoiDung}} </p>
        </div>
    </div>
</div>
