<div class="login flex">
    <div class="form-cont">
      <form [formGroup]='signUpForm' (click)="onSignUpSubmit()" class="form form-group">
        <h1 class="form-heading">Sign Up</h1>
        <div class="form-content">
          <div class="form-row">
            <label class="form-label">
              Username
            </label>
            <input
              formControlName="taiKhoan"
              type="text"
              id="first-name"
              class="form-textbox input-animate-target"
              required
            />
            <div *ngIf="signUpForm.get('taiKhoan').touched && !signUpForm.get('taiKhoan').valid">
              <div style="height:20px;line-height:0" class="alert alert-danger" *ngIf="loginForm.get('taiKhoan').errors.required">
                  Username is required !
              </div>
          </div>
          </div>
          <div class="form-row">
            <label class="form-label">
              Password
            </label>
            <input
              formControlName="matKhau"
              type="password"
              id="password"
              class="form-textbox input-animate-target"
              required
            />
            <div *ngIf="signUpForm.get('matKhau').touched && !signUpForm.get('matKhau').valid">
              <div style="height:20px;line-height:0" class="alert alert-danger" *ngIf="loginForm.get('taiKhoan').errors.required">
                  Username is required !
              </div>
          </div>
          </div>
          <div class="form-row">
            <label class="form-label">
              Name
            </label>
            <input
              formControlName="hoTen"
              type="text"
              id="first-name"
              class="form-textbox input-animate-target"
              required
            />
            <div *ngIf="signUpForm.get('hoTen').touched && !signUpForm.get('hoTen').valid">
              <div style="height:20px;line-height:0" class="alert alert-danger" *ngIf="loginForm.get('taiKhoan').errors.required">
                  Username is required !
              </div>
          </div>
           
          </div>
          <div class="form-row">
            <label class="form-label">
              Email
            </label>
            <input
              type="email"
              id="email"
              class="form-textbox input-animate-target"
              required
              formControlName="email"
            />
            <div *ngIf="signUpForm.get('email').touched && !signUpForm.get('email').valid">
              <div style="height:20px;line-height:0" class="alert alert-danger" *ngIf="loginForm.get('taiKhoan').errors.required">
                  Username is required !
              </div>
          </div>
          </div>
          
          <button type="submit" class="form-submit">
             Sign up
            </button>
          <p class="login-sign-up">Already have account 
          <a href="#" class="ms-2" [routerLink]="['/auth/login']">Login now</a>
          </p>
        </div>
      </form>
    </div>
  </div>