// VARIABLES
$white: #fff;
$black: #000;
$bgBlue:#2980b9;
$bgPurple: #8e44ad;
$bgPink : #ea5252;
$bgGray: #ccc;
$bgGray1: #f1f1f1;
$bgSecondary: #f9f9f9;
$textGray: #ccc;
$textC333: #333;
$textPink: #ea5252;




// fontsize
$headSize1: 20px;
$headSize2: 18px;
$headSize3: 16px;
$headSize4: 12px;
$paraSize1: 14px;
$paraSize2: 12px;
$paraSize3: 8px;
$iconSize: 24px;
// fontweight
$bold : 800;
$light: 400;
