
<br>
<div class="container">
    <h3>User List</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Account</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of user |async">
                <td>{{item.taiKhoan}}</td>
                <td>{{item.email}}</td>
                <td>{{item.soDt}}</td>
                <td>{{item.maLoaiNguoiDung}}</td>
                <td>
                    <a href="" class="btn btn-warning" >Update</a>
                <button class="btn btn-danger" >Delete Post</button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
<!-- (click)="onDeletePost(post.id)" -->