<div class="container">
    <div class="display-4 text-center">Danh sách khoá học</div>
      <app-courses-categories></app-courses-categories>
    <div class="row">
        <div class="col-4 mt-2" *ngFor="let item of courses | async">
            <div class="card text-white bg-dark">
              <img class="card-img-top" [src]="item.hinhAnh" [alt]="item.tenKhoaHoc">
              <div class="card-body">
                <h4 class="card-title">{{item.tenKhoaHoc}}</h4>        
                {{(item.moTa.length > 100) ? (item.moTa | slice:0:150)+'...': (item.moTa)}}
                <div class="card-btn">
                  <a class="btn btn-success" [routerLink]="['/courses', 'details', item.maKhoaHoc]">Xem chi tiết</a>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
